{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [],
  "env": {
    "node": true
  },
  "globals": {},
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {}
}
